#cart-page {
  padding-bottom: 60px;
  // 장바구니 비었을때
  .no-cart-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    .icon {
      font-size: 50px;
      color: $second-gray-color;
      font-variation-settings: "wght" 200;
      margin-bottom: 5px;
    }
    .t1 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .t2 {
      color: $text-third-color;
    }
    .go-shopping {
      width: 240px;
      height: 50px;
      margin-top: 20px;
      font-size: 16px;
      color: $white;
      border-radius: 5px;
      background-color: $main-color;
    }
  }
  // 장바구니에 상품 들어왔을때
  .cart-page-wrap {
    position: relative;
    padding: 0 20px;
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid $second-gray-color;
      .w {
        display: flex;
        align-items: center;
        .check-all {
          position: relative;
          width: 18px;
          height: 18px;
          border-radius: 2px;
          margin-right: 10px;
          border: 1px solid $first-gray-color;
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: $white;
          }
        }
        .check-all.selected {
          border: none;
          background-color: $main-color;
        }
        .txt {
          color: $text-first-color;
          font-size: 13px;
        }
      }
      .delete-all {
        text-decoration: underline;
        color: $first-gray-color;
        cursor: pointer;
      }
    }
    .buy-button-wrap {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      width: 100%;
      height: 55px;
      max-width: 600px;
      padding: 10px 0;
      z-index: 102;
      border-top: 1px solid $second-gray-color;
      box-sizing: content-box;
      background-color: $white;
      .buy-button {
        width: 100%;
        max-width: 580px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        margin: 0 20px;
        color: $white;
        background-color: $main-color;
        &:active {
          background-color: $main-color-active;
        }
      }
      .no-button {
        width: 100%;
        max-width: 580px;
        height: 50px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        margin: 0 20px;
        color: $text-third-color;
        border: 1px solid $second-gray-color;
        cursor: initial;
      }
    }
  }
  .item {
    position: relative;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $second-gray-color;
    .bt-img-txt-flex {
      display: flex;
      .check {
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: 1px solid $first-gray-color;
        margin-right: 10px;
        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
          color: $white;
        }
      }
      .check.selected {
        border: none;
        background-color: $main-color;
      }
      .item-img {
        width: 70px;
        height: auto;
        border-radius: 2px;
        border: 1px solid $second-gray-color;
        margin-right: 10px;
      }
      .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;
        .name {
          color: $text-first-color;
          font-size: 13px;
        }
        .price {
          font-size: 14px;
        }
      }
    }
    .options-wrap {
      padding: 15px;
      margin: 10px 3px 0 28px;
      background-color: $back-gray-color;
      span {
        color: $text-second-color;
      }
    }
    .delete-btn {
      position: absolute;
      top: 15px;
      right: 0;
      .icon {
        font-size: 20px;
        color: $text-third-color;
      }
    }
  }
}
