$main-color: #e0009e;
$main-color-active: #c7007b;
$first-gray-color: #c5c5c5;
$second-gray-color: #e5e5e5;
$back-gray-color: #f1f1f1;
$text-default-color: #222;
$text-first-color: #333;
$text-second-color: #666;
$text-third-color: #757575;
$white: #fff;
$first-dark-back: rgba(0, 0, 0, 0.4);
$fav-active: #eb0000;
$sale-color: #eb0000;
