#top-page,
#pants-page,
#outer-page,
#shoes-page,
#skirt-page,
#socks-page,
#eyeware-page,
#cap-page,
#bag-page,
#accessory-page {
  padding-bottom: 60px;
}
.item-map-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  .item {
    position: relative;
    width: 33.333%;
    padding: 0 5px;
    margin-bottom: 25px;
    cursor: pointer;
    .item-img-wrap {
      position: relative;
      width: 100%;
      border: 1px solid $first-gray-color;
      padding-top: 100%;
      background-color: #f1f1f1;
      .item-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: $first-dark-back;
        font-size: 20px;
        font-variation-settings: "FILL" 1;
      }
      .icon.active {
        color: $fav-active;
        animation: favClick 0.3s;
      }
    }
    .name {
      font-size: 13px;
      margin-top: 8px;
      color: $text-second-color;
    }
    .price {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.3px;
      margin-top: 8px;
      .sale {
        color: $sale-color;
      }
    }
  }
}
.fav-alert {
  position: fixed;
  bottom: 80px;
  left: 50%;
  width: calc(100% - 60px);
  height: 50px;
  max-width: 500px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  background-color: #333;
  z-index: 1000;
}
@keyframes favClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
