#favorite-page {
  padding-bottom: 60px;
  .fav-item-wrap {
    .title {
      font-size: 14px;
      color: $text-third-color;
      margin-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid $second-gray-color;
    }
    .fav-item-map-section {
      .item {
        width: 33.33%;
        .name {
          font-size: 12px;
        }
        .price {
          font-size: 14px;
        }
        .small-fav {
          font-size: 20px;
          right: 8px;
          bottom: 10px;
        }
      }
    }
  }
  .no-fav-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    .icon {
      font-size: 50px;
      color: $main-color;
      font-variation-settings: "wght" 200;
      margin-bottom: 5px;
    }
    .t1 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .t2 {
      color: $text-third-color;
    }
  }
}

@media screen and (max-width: 600px) {
  #favorite-page {
    .fav-item-wrap {
      .title {
        padding-left: 10px;
      }
    }
  }
}
