#favorite-page {
  padding-bottom: 60px;
  .fav-item-wrap {
    .title {
      font-size: 14px;
      color: #999;
      margin-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #e5e5e5;
    }
    .fav-item-map-section {
      .item {
        width: 33.33%;
      }
    }
  }
  .no-fav-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    .icon {
      font-size: 50px;
      color: #fc65db;
      font-variation-settings: "wght" 200;
      margin-bottom: 5px;
    }
    .t1 {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .t2 {
      color: #999;
    }
  }
}
