.to-app-banner {
  position: sticky;
  top: 0;
  z-index: 1000;
  .to-app-modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background-color: $first-dark-back;
  }
  .to-app-modal-bg.active {
    display: block;
  }
  .to-app-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
    z-index: 9999;
    transform: translate(-50%, 100vh);
    background-color: $white;
    .txt1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .txt2 {
      font-size: 14px;
      margin-bottom: 20px;
      color: $text-third-color;
    }
    .qr {
      width: 100px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $first-gray-color;
      margin-bottom: 25px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .txt3 {
      font-size: 14px;
      color: $text-third-color;
    }
    .confirm {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 40px);
      height: 50px;
      border-radius: 10px;
      color: $white;
      background-color: $text-default-color;
    }
  }
  .to-app-modal.active {
    transform: translate(-50%, -50%);
  }
  .banner {
    width: 100%;
    height: 58px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-color;
    .left {
      display: flex;
      align-items: center;
      .logo {
        width: 36px;
        padding: 4px;
        margin-right: 8px;
        border-radius: 5px;
        background-color: $white;
        img {
          width: 100%;
          height: auto;
        }
      }
      .txt {
        color: $white;
      }
    }
    .to-app {
      padding: 6px 8px;
      border-radius: 20px;
      background-color: $white;
    }
  }
}
.search-cart-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 600px;
  padding: 10px;
  background-color: $white;
  .search {
    display: flex;
    align-items: center;
    width: 550px;
    height: 36px;
    border-radius: 5px;
    background-color: $back-gray-color;
    cursor: pointer;
    .search-icon {
      font-size: 22px;
      margin: 0 5px 0 10px;
      color: $text-second-color;
    }
    .txt {
      font-size: 13px;
      color: $text-second-color;
    }
  }
  .cart {
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    .cart-icon {
      font-size: 26px;
      color: $text-second-color;
    }
    .dot {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $main-color;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .to-app-banner {
    .to-app-modal {
      width: calc(100% - 40px);
    }
  }
}
