#inner-category {
  .inner-category-wrap {
    display: flex;
    padding: 10px 0 10px 20px;
    overflow-x: scroll;
    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      img {
        width: 60px;
        height: auto;
        border-radius: 50%;
        cursor: pointer;
      }
      .txt {
        margin-top: 5px;
        color: $text-third-color;
      }
    }
    .icon.active {
      img {
        border: 1px solid $text-default-color;
      }
      .txt {
        color: $text-default-color;
      }
    }
  }
}
