.item-modal {
  position: relative;
  padding-bottom: 140px;
  .item-modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .item-modal-bg.active {
    display: block;
  }
  .item-modal-info {
    .item-img {
      width: 100%;
      height: auto;
    }
    .name {
      font-size: 18px;
      margin-top: 20px;
    }
    .price {
      font-size: 22px;
      font-weight: 600;
      margin-top: 30px;
    }
  }
  .btn-wrap {
    position: fixed;
    bottom: 45px;
    width: 100%;
    max-width: 600px;
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 100;
    .icon {
      font-size: 30px;
      cursor: pointer;
    }
    .icon.active {
      color: #ff3700;
      animation: favClick 0.3s;
      font-variation-settings: "FILL" 1;
    }
    .buy-btn {
      width: 90%;
      height: 50px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      border-radius: 3px;
      text-align: center;
      line-height: 50px;
      background-color: #222;
      cursor: pointer;
    }
  }
  .buy-modal-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    z-index: 1000;
    background-color: #fff;
    // 상품 옵션 선택 후
    .to-cart-or-to-buy {
      position: relative;
      width: 100%;
      height: 100%;
      .box {
        position: relative;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #c5c5c5;
        .delete {
          position: absolute;
          top: 10px;
          right: 15px;
          cursor: pointer;
          .icon {
            font-size: 18px;
            color: #c5c5c5;
          }
        }
        .info {
          font-size: 13px;
        }
        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;
          .quantity-wrap {
            display: flex;
            align-items: center;
            .icon {
              position: relative;
              width: 35px;
              height: 35px;
              border: 1px solid #e5e5e5;
              border-radius: 50%;
              background-color: #fff;
              &::after,
              &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                width: 13px;
                height: 1.5px;
                background-color: #868686;
              }
              &::after {
                transform: translate(-50%, -50%) rotate(90deg);
              }
              &:active {
                background-color: #ececec;
              }
            }
            .minus {
              background-color: #f0f0f0;
              &::after {
                display: none;
              }
              &::before {
                background-color: #c5c5c5;
              }
            }
            .quantity {
              font-size: 14px;
              margin: 0 8px;
            }
          }
          .price {
            align-self: flex-end;
            font-size: 14px;
          }
        }
      }
      .total-price {
        position: absolute;
        bottom: 70px;
        right: 10px;
        font-size: 16px;
        span {
          font-size: 20px;
          font-weight: 600;
          color: #fc65db;
        }
      }
      .inner-btn-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .btn {
          width: calc(50% - 10px);
          padding: 15px 20px;
          border-radius: 10px;
          font-size: 16px;
          font-weight: 600;
        }
        .inner-cart-btn {
          border: 1px solid #c5c5c5;
          background-color: #fff;
          &:active {
            background-color: #ececec;
          }
        }
        .inner-buy-btn {
          color: #fff;
          background-color: #222;
          &:active {
            background-color: #444;
          }
        }
      }
    }
    // 상품 옵션 선택 전
    .buy-modal {
      .size-wrap,
      .color-wrap {
        margin-bottom: 10px;
        .size-title,
        .color-title {
          position: relative;
          width: 100%;
          max-width: 550px;
          height: 50px;
          font-size: 14px;
          padding-left: 20px;
          line-height: 50px;
          border-radius: 5px;
          border: 1px solid #c5c5c5;
          cursor: pointer;
          &:active {
            background-color: #ececec;
          }
          span {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 28px;
            color: #c5c5c5;
          }
        }

        .size-list,
        .color-list {
          width: 100%;
          max-width: 550px;
          overflow: hidden;
          transition: 0.2s;
          background-color: #fff;

          .size,
          .color {
            font-size: 14px;
            padding: 20px;
            border: 1px solid #c5c5c5;
            border-top: none;
            cursor: pointer;
            &:last-child {
              margin-bottom: 1px;
              border-radius: 0 0 5px 5px;
            }
            &:active {
              background-color: #ececec;
            }
          }
        }
      }
      .close-btn {
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 100%;
        max-width: 550px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        transform: translateX(-50%);
        border: 1px solid #c5c5c5;
        background-color: #fff;
        &:active {
          background-color: #ececec;
        }
      }
    }
  }
  .cart-alert {
    position: fixed;
    bottom: 80px;
    left: 50%;
    width: calc(100% - 60px);
    height: 50px;
    max-width: 500px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    background-color: #333;
    z-index: 1000;
  }
}
