#main-page {
  position: relative;
  padding-bottom: 60px;
  .main-category-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-bottom: 1px solid $second-gray-color;
    .icon {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
      }
      .txt {
        margin-top: 5px;
      }
    }
  }
  .title {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .first-buy-btn {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 45px;
    line-height: 45px;
    border: 1px solid $first-gray-color;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
