#search-page {
  position: relative;
  padding-bottom: 60px;
  .search-cart-wrap {
    position: fixed;
    top: 58px;
    z-index: 1000;
    input {
      width: 100%;
      height: 100%;
      background-color: $back-gray-color;
      &::placeholder {
        font-size: 13px;
        color: $text-second-color;
      }
    }
    &.active::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: $first-dark-back;
    }
  }
  .before-search-wrap {
    .recent-searched {
      .flex {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
        margin: 10px auto;
        .t1 {
          font-size: 14px;
          color: $text-third-color;
        }
        .t2 {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .searched {
        display: flex;
        margin-left: 10px;
        .searched-item {
          margin-right: 5px;
          font-size: 13px;
          padding: 10px;
          color: $text-first-color;
          border-radius: 20px;
          border: 1px solid $second-gray-color;
          cursor: pointer;
        }
      }
    }
  }
}
