.slider-wrap {
  position: relative;
  overflow: hidden;
  aspect-ratio: 600 / 299;
  .slider {
    display: flex;
    will-change: transform;
    transition: transform 0.2s;
    .slide {
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 2px;
    color: $white;
    background-color: $first-dark-back;
    z-index: 10;
    cursor: pointer;
    &.left {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }
    &.right {
      right: 0;
    }
  }
  .index-wrap {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 2px;
    font-size: 14px;
    background-color: $first-dark-back;
    .current-index {
      color: $white;
    }
    .s {
      margin: 0 2px;
      color: $first-gray-color;
    }
    .end-index {
      color: $first-gray-color;
    }
  }
}
